html {
     background:#dad3f5b0 /* #818aaab0; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 570px;
    width: 550px;
    margin: auto;
    border: thick solid black;
    margin-top: 100px;
    row-gap: 20px;
    background: #ecd4d4; /*#6b6969*/
    border-radius: 20px;
}

div#screen {
    width: 500px;
    height: 100px;
    border: thick solid black;
    background: #c8d4c8;
    border-radius: 15px;
}

button {
    height: 90px;
    width: 90px;
    margin: 5px;
    font-size: 32px;
    font-weight: 900;
    border: 1px solid #7c5595;
    border-bottom: #7c5595 5px solid;
    border-right: #9867b7 5px solid;
    border-radius: 20px;
    color: white;
    background-color: gray;
}

button:active {
    border: 1px solid #7c5595;
}

button.oper {
    font-size : 35px;
}
button.clear {
    background-color: #e400008f;
}

#equals {
    width: 195px;
}
    
div#screen {
    width: 500px;
    height: 100px;
    border: thick solid black;
}

.result {
    text-align: end;
    font-size: 45px;
    font-weight: bold;
    margin: auto;
    padding: 21px 10px;
}

.row {
    display: flex;
    row-gap: 10px;
}

button.num {
    background: #000000cc;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 0;
    padding: 30px;
    gap: 10px;
}